.order {
	border: 1px solid #E0E0E0;
	padding: 10px 1%;
	margin-bottom: 10px;
	border-radius: 5px;
	width: 55%;
}

.change-form {
	position: absolute;
  left: 70%;
  top: 23%;
  background: beige;
  padding: 2%;
  border-radius: 5px;
  width: 20%;
}
.change-form .close-but {
	border: 1px solid grey;
  position: absolute;
  left: 95%;
  bottom: 92%;
  background: white;
  border-radius: 30px;
  padding: 1% 2%;
  cursor: pointer;
  z-index: 10;
}
.change-form .close-but:hover {
	background: red;
}
.change-form form p {
	margin-bottom: 15px;
}
.change-form form input {
	border: none;
	border-radius: 5px;
	padding: 5px;
}
.change-form form input {
	width: 97%;
}
.change-form form input[type='submit'] {
	cursor: pointer;
	background: white;
	border-radius: 5px;
	width: 30%;
}
.change-form form input[type='submit']:hover {
	background: bisque;
}

.order span {
	width: 29%;
	display: inline-block;
	text-align: center;
}

.order .editing {
	display: inline-block;
  width: 3%; 
}
.order .editing img {
	width: 100%;
	cursor: pointer;
}

.order .recicle {
	display: inline-block;
	width: 3%;
	margin-left: 2%; 
}
.order .recicle img {
	width: 100%;
	cursor: pointer;
}