#prod-wrap {
	overflow: auto;
	height: 98%;
	padding: 5px;
}

select {
	border: 1px solid #E0E0E0;
	padding: 10px 1%;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
	min-width: 10%;
}

.products-cont {
	border: 1px solid #E0E0E0;
	padding: 10px 1%;
	margin-bottom: 10px;
	border-radius: 5px;
	/*cursor: pointer;*/
	width: 95%;
}
/*.products-cont:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5)
}*/

.products-cont span {
	display: inline-block;
	width: 19%;
	text-align: center;
}
.products-cont .recicle {
	display: inline-block;
	width: 2%;
}
.products-cont .recicle img {
	width: 100%;
	cursor: pointer;
}